*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
  }  


table{ 
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
table td{      
    vertical-align:middle;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    text-align: left;
    font-weight: lighter;   
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #cccccc; font-weight: bolder;
}
tr:nth-child(1) {
    background-color: black; color: white; border: 1px solid white;
}


th, td {
    padding: 5px;    
  }

.cabecalho{
    
    display:flex;
    width: 100%;
    background-color: #811414;
    color: white;  
    font-weight: lighter;    
    
}
.titulo {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-size: 2.4em;
    font-weight: bolder;

}

.logoufjf {
    padding-top: 5px;
    vertical-align: top;
    padding: 2%;
    margin: 2%;
    width: 100px;
    height: 70px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.escolha {
    
    text-align: center;
    font-size: 1.5em;
      
    
    
}

a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

 
.escolha{
    
    width: 250px;
    height: auto;
    display: inline-flexbox;
    margin: 0 auto;
    padding: 2%;
    
}
.escolha1{
    border: 2px solid black;
     border-radius: 25px;    
    padding: 2%;
    background-color: silver;
    margin-bottom: 2%;
    
}

.escolha2{


    border: 2px solid black;
    border-radius: 25px;
    padding: 2%;
    background-color: silver;
}

.container {
    

    
}

